* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #666;
  background-color: #f2f2f2;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
}

/* main {
  background-color: #2491eb;
  height: 450px;
} */

.image-container {
  margin: 40px 0;
  text-align: center;
}

img {
  width: 200px;
  height: 94.33px;
}

form {
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto !important;
  background-color: #535b8c;
  padding: 40px;
  margin: 40px;
  color: #fff;
}

form .input-control label {
  display: block;
  color: fff;
  font-weight: 700;
  margin: 10px 0;
  text-transform: uppercase;
}

form .input-control input, form .input-control select {
  height: 35px;
  padding-left: 5px;
  border: 1px solid #bbb;
  color: #4e4e4e;
  background-color: #fff;
}

form .input-control input {
  width: 100%;
}

form .input-control select {
  margin-right: 10px;
}

form .text-time-selection {
  margin: 20px 0;
}

form .text-time-selection div {
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  background-color: #2491eb;
  opacity: 0.9;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
}

.confirmation {
  line-height: 26px;
  width: 600px;
  margin: 0 auto;
}

.confirmation > p {
  margin: 10px 0;
  color: #535b8c; 
  font-size: 18px;
  text-transform: uppercase;
}

.confirmation span {
  font-weight: 700;
}

.confirmation .confirm {
  margin-top: 10px;
}

.confirmation .confirm div {
  padding-bottom: 5px;
}


.debug {
  padding: 40px
}

main .view {
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
